<div *ngIf="loading" style="height: 300px;" class="uk-flex uk-flex-center uk-flex-middle">
  <mat-spinner></mat-spinner>
</div>

<mat-card *ngIf="!loading">
  <mat-card-header>
    <mat-card-title>Product</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="uk-flex">
      <span class="uk-width-expand"></span>
      <button mat-flat-button (click)="productDetail({},-1)" color="primary">Tambah Product</button>
    </div>
    <table class="uk-table uk-table-middle uk-table-divider">
      <thead>
        <th>No</th>
        <th>Judul</th>
        <th>Penulis</th>
        <th>Penerbit</th>
        <th>Tahun Terbit</th>
        <th>ISBN</th>
        <th>Harga</th>
        <th align="center">#</th>
      </thead>
      <tbody>
        <tr *ngFor="let books of books,let idx=index">
          <td>{{idx+1}}</td>
          <!-- <td>{{books.judul}}</td> -->
          <td>{{books.judul}}</td>
          <td>{{books.penulis}}</td>
          <td>{{books.penerbit}}</td>
          <td>{{books.tahunTerbit}}</td>
          <td>{{books.isbn}}</td>
          <td>{{books.harga}}</td>
          <td align="center">
            <button mat-button color="primary" (click)="productDetail(books,idx)">Edit</button>
            <button mat-button color="warn" (click)="deleteProduct(books.id,idx)"
              [disabled]="loadingDelete[idx]">{{loadingDelete[idx] ? 'Menghapus...':'Delete'}}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
