<h3 mat-dialog-title>product-detail works!</h3>
<div mat-dialog-content>
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Judul</mat-label>
    <input matInput [(ngModel)]="data.judul">
  </mat-form-field>
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Penulis</mat-label>
    <input matInput [(ngModel)]="data.penulis">
  </mat-form-field>
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Penerbit</mat-label>
    <input matInput [(ngModel)]="data.penerbit">
  </mat-form-field>
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Tahun Terbit</mat-label>
    <input matInput [(ngModel)]="data.tahunTerbit">
  </mat-form-field>
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>ISBN</mat-label>
    <input matInput [(ngModel)]="data.isbn">
  </mat-form-field>
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Harga</mat-label>
    <input matInput [(ngModel)]="data.harga">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Batal</button>
  <button mat-flat-button (click)="saveData()" [disabled]="loading">{{loading ? 'Menyimpan...':'Simpan'}}</button>
</div>
