/* You can add global styles to this file, and also import other style files */

//memakai uikit untuk memanfaatkan flex, grid, widht, dan height.
@import './uikit.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
